.stats-header {
    background-color: #f8f9fa;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.one-liner {
    padding-left: 0 !important;
    width: 50%;
}

.part-title {
    font-size: 20px;
    font-weight: bolder;
}

.part {
    margin-bottom: 1rem;
}