body {
    font-size: .875rem;
    font-family: 'Open Sans', sans-serif;
}

/* ---------------------------------------------------
    TOP NAVIGATION BAR STYLE
----------------------------------------------------- */

.navbar {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar-lang {
    cursor: pointer;
}

.navbar-toggler {
    margin: 5px;
}