/* ---------------------------------------------------
    SIDEBAR FORM STYLE
----------------------------------------------------- */

.wrapper {
    position: absolute;
    height: calc(100vh - 40px);
    top: 40px;
    left: 0;
    width: 100vw;
}

.sidebar {
    width: 440px;
    height: 100%;
    overflow: auto;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: -440px;
    z-index: 100;
    transition: all 0.3s;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

.sidebar.active {
    left: 0;
}

.sidebar-sticky {
    padding: 0 20px;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999999;
}

.sidebar .nav-link.active {
    color: #007BFF;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}

.popover-header {
    text-align: center;
}

.right-align-actions {
    display: flex;
    flex-direction: row-reverse;
}

#sidebar-collapse-btn {
    position: absolute;
    z-index: 90;
    top: 17px;
    left: 0;
    transition: all 0.3s;
    border: none;
    border-radius: 2px;
    border-left-color: white;
    outline: 0;
    background: #FFFFFF;
    color: #6B7580;
    line-height: 27px;
    font-size: .875rem;
    padding: 0 8px;
}

#sidebar-collapse-btn.active {
    left: 440px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    transition: all 0.3s;
    position: relative;
}

main {
    height: 100%;
}

.event-map {
    height: 100%;
    position: relative;
}

.smap .cluster div {
    box-sizing: content-box;
}

.centered-cell-content {
    text-align: center;
    white-space: nowrap
}